*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-family: cursive;
    font-size: 10px;
    box-sizing: border-box;
}
/*Section used for centering process*/
section{
    width: 100%;
    height: 100vh;
    background-image: url("background2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 100%;
            width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item{
    background-color: darkcyan;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem black;
}
.accordion-link{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color:lightseagreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordion-link i{
    color: lightslategrey;
    padding: .5rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: mediumaquamarine;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    color: wheat;
    font-size: 1.4rem;
    padding: 2rem;
}
.accordion-item:target .answer{
    max-height: 20rem;
}
.menu-bar{
	background-color: cadetblue;
	text-align: center;
}
.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: cornsilk;
}
.menu-bar ul li{
	width: 150px;
	margin: 15px;
	padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: wheat;
}